body{
display: grid;
grid-template-columns: repeat(2,minmax(150px,1fr));
background-color: rgb(0, 0, 0);
font-family: cursive;
color: red;
}

h1{
   margin: 13px; 
}

.grandparent{
    font-size: 25;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 4fr 3fr;
    /* border: 5px solid red; */
}

.solution{
    margin: 8px;
    padding: 5px;
    border: 3px solid red;
    background-color: aliceblue;
    /* width: 1fr; */
    grid-column-start: 1;
    grid-column-end: 3;
}

.num_parent{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.c2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.func_parent{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
}

.numbers{
    border: 3px solid red;
    margin: 8px;
    text-align: center;
    padding: 8px;
    /* box-shadow: 3px green; */
    
}

.functions {
    border: 3px solid orange;
    color: orange;
    margin: 8px;
    text-align: center;
    padding: 8px;
    
}

div.o{
    border: 3px solid orange;
    color: orange; 
    margin: 8px;
    text-align: center;
    padding: 8px;
     
}

.numbers:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}

.o:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}

.functions:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}