body{
font-family: cursive;
color: red;
background: linear-gradient(45deg,black,rgb(40, 15, 15),rgb(70,25,25),rgb(40, 15, 15),black);
animation: bgcolor 13s linear infinite;
background-size: 500% 500%;
}

@keyframes bgcolor{
    0%{
       background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} 

h1{
   margin: 20px 20px 60px 20px;
    
}

.text-color{
    margin: -20px;
}

.grandparent{
    
    max-width: 50%;
    font-size: 25;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 4fr 3fr;
}

.solution{
    margin: 8px;
    padding: 5px;
    border: 3px solid red;
    background-color: aliceblue;
    width: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

.num_parent{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.c2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.func_parent{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
}

.numbers{
    border: 3px solid red;
    margin: 8px;
    text-align: center;
    padding: 8px;
    
}

.functions {
    border: 3px solid orange;
    color: orange;
    margin: 8px;
    text-align: center;
    padding: 8px;
    
}

div.o{
    border: 3px solid orange;
    color: orange; 
    margin: 8px;
    text-align: center;
    padding: 8px;
     
}

.numbers:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}

.o:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}

.functions:hover{
    border-color: deeppink;
    color:deeppink;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(208, 207, 207);
}
